* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #101828;
  --color-button: #3470ff;
  --color-button-hover: #0b44cd;
  --color-gray: #8E929A;
  --color-gray-light: #dadde1;
  --color-badges: #f2f4f7;
  --color-inputs: #f7f7f7;
  --color-white: #ffffff;
  
  --font-family: var(--font-manrope), 'Manrope', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-main);
  background-color: var(--color-white);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 0 120px;
  }
}


